* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color1: #20c997;
    --main-color2: #6610f2;
    --main-color3: #007bff;
    --main-color4: #17a2b8;
    --main-color5: #dc3545;
    --main-color6: #e83e8c;
    --main-color7: #28a745;
    --main-color8: #ffc107;
    --main-color9: #fd7e14;
    --main-color10: #795548;
}

.nav-link {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #212529;
    width: 20%;
    box-shadow: 0 0 20px white;
    padding: 10px;
}

.img-box {
    background-color: #343a40;
    border-radius: 50%;
    width: 100%;
}

.img-box img {
    border-radius: 50%;
}

.nav-link h2 {
    padding: 10px;
    color: white;
}


.links li {
    list-style: none;
    padding: 10px;
}

.links a:hover {
    color: var(--main-color1);
}

.links a {
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
    font-size: 26px;
}

.page {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80%;
}

#particles-js {
    background-image: url(../images/360_F_218898398_wnLuoR9GY4qhLB2tc7o3tSJbQCRfq0xc.jpg);
    background-size: cover;
    background-position: center center;
    inset: 0;
    height: 100vh;
    width: 100%;
    position: relative;
}

.title .btn {
    border-color: var(--main-color1);
    color: var(--main-color1);
    transition: all 0.5s;
}

.title .btn:hover {
    background-color: var(--main-color1);
    color: white;

}

.title h2 {
    color: white;
    font-size: larger;
    padding: 20px;
}

.title h1 {
    color: white;
}

.title p {
    color: white;
    font-size: larger;
    padding: 20px;
}

.title {
    text-align: center;
    position: absolute;


    width: 450px;
}

.contact {
    background-image: url(../images/dark_dot.jpg);
    height: 550px;
}

.box {
    display: flex;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.box h2 {
    font-size: 10rem;
    letter-spacing: 10px;
    position: relative;
}

.box h2::after {
    content:"";
    width: 100px;
    height: 4px;
    background-color: var(--main-color1);
    position: absolute;
    top: 150px;
    right: 270px;

}

.box h3 {
    font-size: 4rem;
    color: aliceblue;
    position: absolute;
    top: 80px;
}

.info {
    color: white;
    padding-left: 30px;
}

.info .ico {
    color: var(--main-color1);
    font-size: larger;
}

.get-info h3 {
    color: white;
}

.social i:hover {
    color: #007bff;
    font-size: larger;
}

.get-info button {
    background-color: var(--main-color1);
    border: var(--main-color1);
    color: white;
    font-size: larger;
}

.footer {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #343a40;
    color: white;
}

.footer .mohamed {
    color: var(--main-color1);
    font-weight: bold;
    font-size: larger;
}

.footer a {
    text-decoration: none;
    color: white;
}